
<div class="container py-4">
    <h3>Servicios list-tasks</h3>
    <div *ngIf="tasks && tasks.length > 0">
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let task of tasks">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.description }}</h6>
                        <p class="card-text fst-italic">{{ task.done ? 'Completada' : 'Pendiente' }}</p>
                        <!-- <p class="card-text fst-italic" *ngIf="task.done; else notDone">Creada</p>
                        <ng-template #notDone><p class="card-text fst-italic">No creada</p></ng-template> -->
                        <a href="tasks/edit/{{ task.id }}" class="btn btn-primary me-2">Editar</a>
                        <button class="btn btn-danger" (click)="deleteTask(task.id!)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tasks && tasks.length === 0">
        <p>No tasks found.</p>
    </div>

    <div *ngIf="!tasks">
        <p>Loading...</p>
    </div>
</div>